<h1>Community Quizz!</h1>
<hr />
<h3>Groups</h3>
<p>The Administrator has the ability to assign Users and Testers to groups.</p>
<hr />
<h3>Quizz</h3>
<p>
  The Testers have the ability to create quizzes specific to each group they are
  apart of.
</p>
<hr />
<h3>Users</h3>
<p>
  The Users have the ability to take quizzes within groups they are apart of.
</p>
<hr />
<h3>User Results</h3>
<p>The Users can view their test scores immediately after taking the quizz.</p>
<hr />
<h3>Student Results</h3>
<p>Testers can see the results of quizzes from each student.</p>
