.equal-container {
  display: flex;
  flex-direction: row;
}

.equal-container > * {
  flex-grow: 1;
  flex-basis: 1;

  margin-right: auto;
  margin-left: auto;

  max-width: 30%;
  min-width: 30%;
}
