<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="Close()"
    ></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="Accept(form)">
    <div class="modal-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Group Name</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          formControlName="GroupName"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="Accept(form)">
        Confirm
      </button>
      <button type="button" class="btn btn-danger" (click)="Close()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>
